DEV_BOT_TOKEN=
PROD_BOT_TOKEN=

STORIES_BOT_USERNAME=

USERBOT_API_ID=
USERBOT_API_HASH=

BOT_ADMIN_ID=

# firebase config variables for analytics data collection
FIREBASE_API_KEY=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=

NODE_ENV=development
